section#about.teal
	.container
		.row
			.col.l12.m12.s12 
				h2.white-text About Me
				p.teal-text.text-lighten-4
					| A Seattle based software engineer and technology enthusiast.
					| Lately I have been focusing on Ruby, JavaScript and the web, but I am
					| always open to learning new technologies and developing new skills.
				
				
		.row
			.col.s6.m6.l3
				a(href="#")
					.card.grey.z-depth-2
						.card-content.white-text.center
							span.card-title Linkedin
			.col.s6.m6.l3
				a(href="#")
					.card.grey.z-depth-2
						.card-content.white-text.center
							span.card-title Github
			.col.s6.m6.l3
				a(href="#")
					.card.grey.z-depth-2
						.card-content.white-text.center
							span.card-title Twitter
			.col.s6.m6.l3
				a(href="#")
					.card.grey.z-depth-2
						.card-content.white-text.center
							span.card-title About.me
