#about
  .container
    .row
      .col.l6.m6.s12 
        h2 About Me
        p 
          | Hello my name is Erik Nilsen and I am a Full Stack Web developer.
          | Lately I have been focusing on Ruby and JavaScript, but I am
          | always open to learning a new language and developing new skills.
        
        ul
          li Linkedin
          li Github
          li Twitter
          li about.me

    #contact  
      h2 Contact Me
      
      .row
        form.col.s12(action='//formspree.io/erik@erikdnilsen')
          .row
            input-field.col.s6
              input(type="text", placeholder="name", name="name")
            input-field.col.s6
              input(type='email', placeholder='email', name="_replyto")
          .row
            .input-field.col.s12
              textarea#textarea1.materialize-textarea(name="message", rows="5", placeholder="Your message...")
              input(type="hidden", value="Someone sent you an email from your site!", name="_subject")
              input(type='hidden', style="display:none", name="_gotcha")
          .row
            button.btn.waves-effect.waves-light(type='submit', name='action')
                | Submit
                i.mdi-content-send.right
