footer.page-footer
      .container
        .row
          .col.l6.s12
            h5.white-text 
            p.grey-text.text-lighten-4 Thank you for checking out my portfolio.
          .col.l4.offset-l2.s12
            p.white-text Blog coming soon!
      .footer-copyright
        .container
          | © 2015 Copyright Erik Nilsen
          a.grey-text.text-lighten-4.right(href='http://materializecss.com/') Check out Material Design
