doctype html
html
  head
    title Erik Nilsen
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css', type='text/css')
    link(type='text/css', rel='stylesheet', href='stylesheets/materialize.min.css', media='screen,projection')
    link(rel='stylesheet', href='../www/stylesheets/style.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
  body
    nav.light-blue.lighten-1(role='navigation')
      .nav-wrapper.container
        a#logo-container.brand-logo(href="#page-top") Erik Nilsen
        ul.right.hide-on-med-and-down
          li
            a(href='#projects') Projects
          li
            a(href='#about') About
          li
            a(href='#contact') Contact
        ul#nav-mobile.side-nav
          li
            a(href='#projects') Projects
          li
            a(href='#about') About
          li
            a(href='#contact') Contact
        a.button-collapse(href='#', data-activates='nav-mobile')
          i.mdi-navigation-menu
    #index-banner.section.no-pad-bot
      .container
        br
        br
        h1.header.center.black-text Erik Nilsen
        .row.center
          h5.header.col.s12.light Ruby and JavaScript Developer
        br
  
    block content
    script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.1.min.js')
    script(type='text/javascript', src='../www/javascript/materialize.min.js')
