doctype html
html
  head
    title Erik Nilsen
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #nav
      ul
        li
          a(href='#') HOME
        
        li
          a(href='#') ABOUT
        
        li
          a(href='#') PROJECTS
    block content
