#projects
  .container
    .row
      .col.l6.m6.s12 
        h2 Projects
        
        p Some of my best projects can be found here
        
        ul
          li Eefgilm
          li Github-SMS
          li Ordr
