section#projects
	.container
		.row
			.col.l12.m12.s12 
				h2 Projects
				
				h4 Some of my best projects can be found here:
	
		.row
			.col.s12.m6.l6
				.card.white.z-depth-2.card-project
					.card-content.grey-text.text-darken-1
						span.card-title.grey-text.text-darken-2 Eefgilm
						p
							| Eefgilm automatically modifies a ruby gemfile to make it a little easier to read.
					.card-action
						a(href='https://github.com/enilsen16/Eefgilm').grey.waves-effect.waves-light.btn.white-text.z-depth-2 View project
			.col.s12.m6.l6
				.card.white.z-depth-2.card-project
					.card-content.grey-text.text-darken-1
						span.card-title.grey-text.text-darken-2 GitHub SMS
						p
							| A SMS notification service for GitHub repositories. 
							| Allowing the user to stay up-to-date on the lastest version.
					.card-action
						a(href='https://github.com/GitHub-SMS/github-sms').grey.waves-effect.waves-light.btn.white-text.z-depth-2 View project
		.row
			.col.s12.m6.l6
				.card.white.z-depth-2.card-project
					.card-content.grey-text.text-darken-1
						span.card-title.grey-text.text-darken-2 Sqoop
						p
							| I created the landing page for Sqoop while the product is still in development.
					.card-action
						a(href='#').grey.waves-effect.waves-light.btn.white-text.z-depth-2 View project
			.col.s12.m6.l6
				.card.white.z-depth-2.card-project
					.card-content.grey-text.text-darken-1
						span.card-title.grey-text.text-darken-2 Ordr
						p
							| Ordr is a simple job search management app and is now a project on Assembly.
					.card-action
						a(href='#').grey.waves-effect.waves-light.btn.white-text.z-depth-2 View project
